{% extends 'base.html' %}
{% load static %}

{% block hd %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock hd %}
{% block bd %}
    <h1 class="txt">Products</h1>
    <div class="page">
        <div class="card">
            <p class="txt">Oppo A54</p>
            <img src="{% static 'imgs/oppo.png' %}" alt="product_image" height="100px"  width="auto" >
            <p class="txt">Price Rs.12,000</p>
            <a href="#" class="btn">Buy</a>
        </div>
        <div class="card">
            <p class="txt">Oppo A54</p>
            <img src="{% static 'imgs/oppo.png' %}" alt="product_image" height="100px"  width="auto" >
            <p class="txt">Price Rs.12,000</p>
            <a href="#" class="btn">Buy</a>
        </div>
        <div class="card">
            <p class="txt">Oppo A54</p>
            <img src="{% static 'imgs/oppo.png' %}" alt="product_image" height="100px"  width="auto" >
            <p class="txt">Price Rs.12,000</p>
            <a href="#" class="btn">Buy</a>
        </div>
        <div class="card">
            <p class="txt">Oppo A54</p>
            <img src="{% static 'imgs/oppo.png' %}" alt="product_image" height="100px"  width="auto" >
            <p class="txt">Price Rs.12,000</p>
            <a href="#" class="btn">Buy</a>
        </div>
    </div>
{% endblock bd %}