{% extends 'base.html' %}
{% block content %}
    <form id="frm_signup"  action="../register/" method = 'POST' >
        {% csrf_token %}
        <table id="tbl_register" > 
            <tr> 
                <td>   <span class="label"> First Name  </span> </td>
                <td> : <input type="text" class="textbox" id="txt_firstname_signin" name="txt_firstname" required="" /> <br/> </td>
            </tr>
            <tr>
                <td> <span class="label"> Last Name </span> </td> 
                <td> : <input type="text" class="textbox" id="txt_lastname_signin" name="txt_lastname" required="" /> <br/> </td>
            </tr>
            <tr>
                <td> <span class="label"> Mail ID  </span> </td>
                <td> : <input type="email" class="textbox" id="txt_email" name="txt_email" required="" /> <br/> </td>
            </tr>
            <br/>
            <tr>
                <td> <span class="label"> Username  </span> </td>
                <td> : <input type="text" class="textbox" id="txt_username_signin" name="txt_username" required="" /> <br/> </td>
            </tr>
            <tr> 
                <td> <span class="label"> Enter your password  </span> </td>
                <td> : <input type="password" class="textbox" id="pwd_signin" name="pwd_signin" required = "" /><br/> </td>
            </tr> 
            <tr> <td> <span class="label"> Enter your password  Again to confirm  </span> </td>
                <td> : <input type="password" class="textbox" id="pwd_signin_2" name="pwd_signin_2" required="" /><br/> </td>
            </tr>
        </table>
        <br/>
        <input type="submit" value="Sign Up" class="btn"  />
    </form>
    <span>
        * Password Rules:<br/> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;> Must be 8 to 12 Characters.<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;> Must contain one alphabet [a-z], [A-Z] and at least one number [0-9]<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;> Must not contain any special Characters.<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;> Harder passwords are safe.<br/>
    </span>
    {% if comment %}
        <p style="background-color:aliceblue; width:50%; color: rgb(253, 1, 1) ; font-style: italic; " > {{ comment }}
    {% endif %}
{% endblock %}