*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right,rgba(238, 165, 177, 0.726),rgba(150, 231, 150, 0.74)) , url('../imgs/enterprise.png') ;
    background-position: top;
    color: rgb(58, 13, 13);
}

.app-body{
    height: 73vh;
    width: auto;
    overflow-y: scroll;
}


p{
    font-size: 24px;
}

.btn{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    border: none;
    outline: none;
    color: black;
    font-size: 1.2rem;
}

.head_title{
    display: inline-flex;
}

.log_right{
    width: 70%;
}
.title{
    font-size: 2rem;
    font-family: system-ui;
    margin-top: 0;
    margin-bottom: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    padding: 0.8rem;
    margin-top: 0;
    background-color:  #cbcbcb;;
}

.menu-item{
    background-color: #cbcbcb;
}

.ftr{
    background-color: rgba(117, 206, 117, 0.671);
}
.txt{
    color: black;
}
.d-form{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 10px;
    padding-left: 25px;
}

.txtbox{
    border-radius: 5px;
    padding: 5px;
}
