body{
    background-color: rgb(168, 233, 184);
    color: rgb(58, 13, 13);
}

.button{
    color: beige;
    border: black;
}

.head_title{
    display: inline-flex;
}

.log_right{
    width: 70%;
}

