<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Eesha Enterprises </title>
  <link rel="stylesheet" href="{% static 'css/all.css' %}" >
  <script src="{% static 'js/eesha.js' %}"></script>
  {% block hd %}
  {% endblock hd%}
</head>
<body>
  <div class="nav">
    <div class="title">
      Eesha
    </div>
    {% if user.is_authenticated %}
        <div class="menu-item">
          {{ user.first_name }}
          <a href="{% url 'Logout' %}" class="menu-item"> Log out </a>
        </div>
    {% else %}
        <div class="menus">
          <a href="{% url 'LogSign' %}" class="menu-item"> Login/Signup </a>
        </div>
    {% endif %}
  </div>
    {% block bd %}
    {% endblock bd %}
</body>
</html>