{% extends 'appbody.html' %}
{% load static %}
{% block app %}
<div>
    <div class="container">
        <div class="row"> 
            <div class="col">
                <img src="{% static "imgs/oppo.png" %}" >
            </div>
            <div class="col">
                Oppo <br/>
                Rs. 14999/- <br/>
                4 GB RAM, 64 GB memory.<br/>
                5000 mah battery.<br/>
                <input type="button" name="btn_order" value="Order" onclick="order()"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}